.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #666;
}

header h2 {
  margin: 0.75rem 0rem;
}

/* ------------------- MEDIA QUERIES ------------------- */
@media screen and (max-width: 365px) {
  h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 290px) {
  h2 {
    display: none;
  }
}
