/* ------------------- TODO ------------------- */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0.9rem 1rem;
  margin-bottom: 0.3rem;
  background-color: #555;
  border-radius: 15px;
  text-align: left;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  transition: background-color 0.3s, filter 0.2s;
}

.pending-delete {
  background-color: #c00;
}

.pending-complete {
  background-color: #080;
}

.todo:hover {
  filter: brightness(115%);
}

#todo-data {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.todo > form {
  width: 60%;
}

#edit-todo-input {
  width: 90%;
  border: none;
  border-radius: 10px;
  padding: 0.3rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* ------------------- MEDIA QUERIES ------------------- */
@media screen and (max-width: 400px) {
  #todo-data {
    font-size: 0.8rem;
  }
}
