.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 550px;
  width: 100%;
  max-width: 600px;
  padding: 0rem 1rem;
  border: 4px solid #777;
  border-radius: 20px;
}

/* ------------------------- TODOLIST ------------------------- */
.todolist {
  height: 100%;
  margin: 1rem 0;
  overflow-y: auto;
}
